# Homework 1: Learn X in Y Minutes Demonstration

## 1. Primitive Data Types and Operators

### Numbers: When interpretated, would produce themselves.

In [1]:
3

3

### Mathematical Expressions are Evaluated

In [4]:
1 + 1 # The answer should be 2

2

In [5]:
8 - 1 # The answer should be 7

7

In [7]:
10 * 2 # Should produce 20

20

In [9]:
35 / 5 # Should Produce 7, and the division always produces a floating point output.

7.0

### Integer Divisions Produce Rounded Off Results

In [10]:
5 // 3 # Would produce 1

1

In [11]:
-5 // 3 # Would produce -2

-2

In [12]:
5.0 // 3.0 # Would produce a floating point output

1.0

In [13]:
-5.0 // 3.0 # Would produce -2 in a decimal format

-2.0

### The results of a division always produce floating point output

In [15]:
10.0 / 3

3.3333333333333335

### Modulus Operater returns the remainder after division

In [16]:
7 % 3

1

In [17]:
-7 % 3

2

### ** Operator returns the Exponent as X ^ Y

In [19]:
2**3 # Should Return 8

8

### Precidence is provided through parentheses

In [20]:
1 + 3 * 2    # => 7

7

In [21]:
(1 + 3) * 2  # => 8

8

### Boolean Values are Primitives and Case Sensitive

In [25]:
True

False

In [26]:
False

False

In [ ]:
not True # Negation of True

In [27]:
not False  # => True

True

### Boolen Operators | They are case sensitive

In [29]:
True and False  # => False

False

In [30]:
False or True   # => True

True

### True and False are actually 1 and 0 but with different keywords

In [31]:
True + True # => 2

2

In [32]:
True * 8    # => 8

8

In [33]:
False - 5   # => -5

-5

### Comparision Operators Return Either True or False

In [34]:
0 == False  # => True

True

In [35]:
2 > True    # => True

True

In [36]:
2 == True   # => False

False

In [37]:
-5 != False # => True

True

### None, 0, and empty strings/lists/dicts/tuples/sets all evaluate to False, the remaning values are all True

In [38]:
bool(0)     # => False

False

In [39]:
bool("")    # => False

False

In [40]:
bool([])    # => False

False

In [41]:
bool({})    # => False

False

In [42]:
bool(())    # => False

False

In [43]:
bool(set()) # => False

False

In [44]:
bool(4)     # => True

True

In [47]:
bool(-6)    # => True

True

### Using boolean logical operators on ints casts them to booleans for evaluation, but their non-cast value is returned.

In [48]:
bool(0)     # => False

False

In [50]:
bool(2)     # => True

True

In [51]:
0 and 2     # => 0

0

In [52]:
bool(-5)    # => True

True

In [53]:
bool(2)     # => True

True

In [54]:
-5 or 0     # => -5

-5

### Equality Operator is ==

In [55]:
1 == 1  # => True

True

In [56]:
2 == 1  # => False

False

### Inequality Operator is used as !=

In [57]:
1 != 1  # => False

False

In [58]:
2 != 1  # => True

True

### Some Additional Comparision Operators

In [59]:
1 < 10  # => True | Less Than Operator

True

In [60]:
1 > 10  # => False | Greater Than Operator

False

In [61]:
2 <= 2  # => True | Less Than or Equal to Operator

True

In [62]:
2 >= 2  # => True | Greater Than or Equal to Operator

True

### Checking Ranges through comparision operators

In [63]:
1 < 2 and 2 < 3  # => True | Use of 'and' and ineqality operators

True

In [64]:
2 < 3 and 3 < 2  # => False | Use of 'and' and ineqality operators

False

In [66]:
1 < 2 < 3  # => True | Chaining the ineqality operators

True

In [67]:
2 < 3 < 2  # => False | Chaining the ineqality operators

False

### 'is' operator checks for object identity whereas '==' operator checks for equality of values.

In [69]:
a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]

In [70]:
b = a             # Point b at what a is pointing to

In [71]:
b is a            # => True, a and b refer to the same object

True

In [72]:
b == a            # => True, a's and b's objects are equal

True

In [73]:
b = [1, 2, 3, 4]  # Point b at a new list, [1, 2, 3, 4]

In [74]:
b is a            # => False, a and b do not refer to the same object

False

In [75]:
b == a            # => True, a's and b's objects are equal

True

### Strings can be created with " or '

In [76]:
"This is a string." # Use of double quotes

'This is a string.'

In [77]:
'This is also a string.' # Use of single quotes

'This is also a string.'

In [78]:
"Hello " + "world!"  # => "Hello world!" | String Concatenation

'Hello world!'

In [79]:
# Strings can be concatenated without the '+' operator

"Hello " "world!"    # => "Hello world!"

'Hello world!'

In [80]:
"Hello world!"[0]  # => 'H' | Strings can be treated like lists of characters

'H'

In [81]:
len("This is a string")  # => 16 | len() returns the length of a string

16

In [82]:
# f-strings can be used to format strings
name = "Reiko"
f"She said her name is {name}." # => "She said her name is Reiko"

'She said her name is Reiko.'

In [83]:
f"{name} is {len(name)} characters long." # => "Reiko is 5 characters long." | Any valid expression can be used inside the braces

'Reiko is 5 characters long.'

In [84]:
None # It is an object

In [86]:
"etc" is None  # => False | is operator checks if two variables point to the same object

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\maaz1\AppData\Local\Temp\ipykernel_3532\2980956696.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "etc" is None  # => False | is operator checks if two variables point to the same object

False

In [87]:
None is None   # => True | None is the only object of its kind

True

## 2. Variables and Collections

In [89]:
print("I'm Python. Nice to meet you!")  # => I'm Python. Nice to meet you! 

# Print function is used to print the output to the console

I'm Python. Nice to meet you!

In [90]:
print("Hello, World", end="!")  # => Hello, World!

# Print also prints a newline by default, but that can be changed by passing an optional argument 'end'

Hello, World!

In [2]:
input_string_var = input("Enter some data: ") # Returns the data as a string

# input() function is used to take the input from the user

In [3]:
# We don't have any variable declarations in Pythons, only assigmnents
# Naming convention is to use lowercase_with_underscores
some_var = 5 # Assignment of an integer to some_var

In [4]:
some_var  # => 5

5

In [5]:
some_unknown_var  # Raises a NameError since some_unknown_var is not defined

NameError: name 'some_unknown_var' is not defined

In [6]:
# If statement can be used as an expression as follows:
"yay!" if 0 > 1 else "nay!"  # => "nay!"

'nay!'

In [7]:
li = [] # Empty List | Lists store sequences of values

In [9]:
other_li = [4, 5, 6] # Declation of a list with values

In [10]:
# Append can be used to add elements to the end of the list

li.append(1)    # li is now [1]

In [11]:
li.append(2)    # li is now [1, 2]

In [12]:
li.append(4)    # li is now [1, 2, 4]

In [13]:
li.append(3)    # li is now [1, 2, 4, 3]

In [14]:
# Pop removes the last element from the list and returns it
li.pop()        # => 3 and li is now [1, 2, 4]

3

In [15]:
li.append(3)    # li is now [1, 2, 4, 3] again.

In [16]:
# List can be accessed by index as follows:

li[0]   # => 1

1

In [17]:
li[-1]  # => 3 | -1 refers to the last element

3

In [18]:
li[4]  # Raises an IndexError due to list index out of range

IndexError: list index out of range

In [19]:
# Lists can be slices using ':' operator as follows:
li[1:3]   # Return list from index 1 to 3 => [2, 4]

# The start index is included, the end index is not

[2, 4]

In [20]:
li[2:]    # Return list starting from index 2 => [4, 3] | If the end index is not specified, it is assumed to be the end of the list

[4, 3]

In [21]:
li[:3]    # Return list from beginning until index 3  => [1, 2, 4]

[1, 2, 4]

In [22]:
li[::2]   # Return list selecting every second entry => [1, 4]

[1, 4]

In [24]:
li[::-1]  # Return list in reverse order => [3, 4, 2, 1]

# The syntax is as follows: [start:end:step]

[3, 4, 2, 1]

In [25]:
# Make a deep copy of a list with [:]
li2 = li[:]  # => li2 = [1, 2, 4, 3] but (li2 is li) will result in false.

In [26]:
del li[2]  # li is now [1, 2, 3]

In [27]:
li.remove(2)  # li is now [1, 3]
# Removes the first element from the list whose value is equal to "2"

In [28]:
li.remove(2)  # Raises a ValueError as 2 is not in the list

ValueError: list.remove(x): x not in list

In [29]:
# Insert an element at a specific index in the list with 'insert'
li.insert(1, 2)  # li is now [1, 2, 3] again

In [30]:
li.index(2)  # => 1 | Returns the index of the first element whose value is equal to "2"

1

In [31]:
li.index(4)  # Raises a ValueError as 4 is not in the list

ValueError: 4 is not in list

In [32]:
#Lists can be concatenated with the '+' operator:

li + other_li  # => [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [33]:
# Concatenate lists with "extend()"

li.extend(other_li)  # Now li is [1, 2, 3, 4, 5, 6]

In [34]:
# Check for existence in a list with "in"

1 in li  # => True

True

In [35]:
# Length of a list with "len()"

len(li)  # => 6

6

### Tuple is an immutable list of values. They are created by placing a comma-separated list of values between parentheses.

In [36]:
tup = (1, 2, 3)  # => (1, 2, 3)

In [37]:
tup[0]  # => 1

1

In [38]:
tup[0]  = 3 # Raises a TypeError as tuples are immutable

TypeError: 'tuple' object does not support item assignment

### Tuple of length 1 is created by following a value with a comma but tuples of length 0 are created by just using parentheses

In [39]:
type((1))   # => <class 'int'>

int

In [40]:
type((1,))  # => <class 'tuple'>

tuple

In [41]:
type(())    # => <class 'tuple'>

tuple

### The list operations can also be performed on tuples as well

In [42]:
len(tup)         # => 3

3

In [43]:
tup + (4, 5, 6)  # => (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [44]:
tup[:2]          # => (1, 2)

(1, 2)

In [45]:
2 in tup         # => True

True

### Tuples can be unpacked to assign multiple variables at once or a list

In [46]:
a, b, c = (1, 2, 3)  # a is now 1, b is now 2 and c is now 3

In [47]:
a, *b, c = (1, 2, 3, 4)  # a is now 1, b is now [2, 3] and c is now 4

# Also called extended unpacking

In [49]:
d, e, f = 4, 5, 6  # tuple 4, 5, 6 is unpacked into variables d, e and f

# Tuples are created by default if you leave out the parentheses

In [50]:
e, d = d, e  # d is now 5 and e is now 4

# We can easily swap the values of two variables using tuples

### Dictionaries store mappings from keys to values

In [52]:
empty_dict = {} # Pythonic

In [53]:
filled_dict = {"one": 1, "two": 2, "three": 3} # An example of a pre-filled dictionary

#### Keys must be immutable types like strings, numbers, or tuples

In [54]:
invalid_dict = {[1,2,3]: "123"}  # => Yield a TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [55]:
valid_dict = {(1,2,3):[1,2,3]}   # Values can be of any type

In [56]:
filled_dict["one"]  # => 1 | Returns the value of the key "one"

1

In [57]:
# To get all the keys in a dictionary, use the "keys()" method

list(filled_dict.keys())  # => ["one", "two", "three"]

['one', 'two', 'three']

In [58]:
# To get all the values in a dictionary, use the "values()" method

list(filled_dict.values())  # => [1, 2, 3] in Python 3.7+

[1, 2, 3]

In [59]:
# Check for existence of keys in a dictionary with "in"

"one" in filled_dict  # => True

True

In [60]:
1 in filled_dict  # => False

False

#### Looking up a non-existing key is a KeyError

In [61]:
filled_dict["four"]  # KeyError

KeyError: 'four'

#### We can use the "get()" method to avoid the KeyError

In [62]:
filled_dict.get("one")      # => 1

1

In [ ]:
filled_dict.get("four")     # => None

#### The get method also allows us to specify a default value to return if the key doesn't exist

In [63]:
filled_dict.get("one", 4)   # => 1

1

In [64]:
filled_dict.get("four", 4)  # => 4

4

#### Setdefault is a method that gets a value from a dictionary like get, but will set it to a default if it's not already in the dictionary

In [65]:
filled_dict.setdefault("five", 5)  # filled_dict["five"] is set to 5

5

In [66]:
filled_dict.setdefault("five", 6)  # filled_dict["five"] is still 5

5

#### Adding keys and/or values to a dictionary

In [67]:
filled_dict.update({"four":4})  # => {"one": 1, "two": 2, "three": 3, "four": 4}

In [68]:
filled_dict["four"] = 4         # another way to add to dict

In [69]:
# Keys can be removed with del

del filled_dict["one"]  # Removes the key "one" from filled dict

#### A few extra unpacking functions

In [70]:
{'a': 1, **{'b': 2}}  # => {'a': 1, 'b': 2}

{'a': 1, 'b': 2}

In [71]:
{'a': 1, **{'a': 2}}  # => {'a': 2}

{'a': 2}

### Sets are an unordered collection of distinct elements

In [72]:
empty_set = set() # Empty set

In [73]:
some_set = {1, 1, 2, 2, 3, 4}  # some_set is now {1, 2, 3, 4}

# Initialize a set with a bunch of values

#### Just like keys of the dictionary, elements of a set must be immutable

In [75]:
invalid_set = {[1], 1}  # => Raises a TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [77]:
valid_set = {(1,), 1} # => {(1,), 1}

In [78]:
filled_set = some_set # => {1, 2, 3, 4}

In [79]:
filled_set.add(5)  # filled_set is now {1, 2, 3, 4, 5} 

# Add one item to a set

In [80]:
# Sets do not have duplicate elements

filled_set.add(5)  # it remains as before {1, 2, 3, 4, 5}

#### We use '&' to find the intersection of two sets

In [82]:
other_set = {3, 4, 5, 6}
filled_set & other_set  # => {3, 4, 5}

{3, 4, 5}

#### We use '|' to find the union of two sets

In [83]:
filled_set | other_set  # => {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

#### We use '-' to find the difference of two sets

In [84]:
{1, 2, 3, 4} - {2, 3, 5}  # => {1, 4}

{1, 4}

#### We use '^' to find the symmetric difference of two sets

In [85]:
{1, 2, 3, 4} ^ {2, 3, 5}  # => {1, 4, 5}

{1, 4, 5}

#### We use '>=' to check if a set is a superset of another set

In [86]:
{1, 2} >= {1, 2, 3} # => False

False

#### We use '<=' to check if a set is a subset of another set

In [87]:
{1, 2} <= {1, 2, 3} # => True

True

#### We use 'in' to check if an element is in a set

In [88]:
2 in filled_set   # => True

True

In [89]:
10 in filled_set  # => False

False

In [90]:
filled_set = some_set.copy()  # filled_set is {1, 2, 3, 4, 5}

# Deep copy of a set

In [91]:
filled_set is some_set        # => False

False

## 3. Control Flow and Iterables

In [93]:
some_var = 5 # Making a variable

### If Statement

In [94]:
# Prints if some_var is less than 10

if some_var > 10:
    print("some_var is totally bigger than 10.")
elif some_var < 10:    # This elif clause is optional.
    print("some_var is smaller than 10.")
else:                  # This is optional too.
    print("some_var is indeed 10.")

some_var is smaller than 10.

### For Loops iterate of lists

In [96]:
# Prints 
# Dog is a mammal
# Cat is a mammal
# Mouse is a mammal

for animal in ["dog", "cat", "mouse"]:
    # You can use format() to interpolate formatted strings
    print("{} is a mammal".format(animal))

dog is a mammal
cat is a mammal
mouse is a mammal

In [97]:
# Range(number) returns a list of numbers from zero to the given number (non-inclusive)

for i in range(4): # Will iterate over 0, 1, 2, 3
    print(i)

0
1
2
3

In [98]:
# Range(lower, upper) returns a list of integers from lower to upper-1

for i in range(4, 8): # Prints 4, 5, 6, 7
    print(i)

4
5
6
7

In [99]:
# Range(lower, upper, step) returns a list of integers from lower to upper-1, incrementing by step

for i in range(4, 8, 2): # Prints 4, 6
    print(i)

4
6

In [100]:
animals = ["dog", "cat", "mouse"]
for i, value in enumerate(animals): # Prints 0 dog, 1 cat, 2 mouse
    print(i, value)

0 dog
1 cat
2 mouse

### While loops repeat until a certain boolean condition is met

In [101]:
x = 0
while x < 4: # Prints 0, 1, 2, 3
    print(x)
    x += 1  # Shorthand for x = x + 1

0
1
2
3

### Handling exceptions with Try/Except blocks

In [102]:
try:
    # Use "raise" to raise an error
    raise IndexError("This is an index error")
except IndexError as e:
    pass                 # Refrain from this, provide a recovery (next example).
except (TypeError, NameError):
    pass                 # Multiple exceptions can be processed jointly.
else:                    # Optional clause to the try/except block. Must follow
                         # all except blocks.
    print("All good!")   # Runs only if the code in try raises no exceptions
finally:                 # Execute under all circumstances
    print("We can clean up resources here")

We can clean up resources here

#### Instead of try/finally to cleanup resources you can use a with statement

In [105]:
with open("myfile.txt") as f:
    for line in f:
        print(line)

#### Writing to a file

In [106]:
contents = {"aa": 12, "bb": 21}
with open("myfile1.txt", "w+") as file:
    file.write(str(contents))        # writes a string to a file

In [107]:
import json
with open("myfile2.txt", "w+") as file:
    file.write(json.dumps(contents)) # writes an object to a file

#### Reading from a file

In [108]:
with open('myfile1.txt', "r+") as file:
    contents = file.read()           # reads a string from a file
print(contents)
# print: {"aa": 12, "bb": 21}

{'aa': 12, 'bb': 21}

In [109]:
with open('myfile2.txt', "r+") as file:
    contents = json.load(file)       # reads a json object from a file
print(contents)
# print: {"aa": 12, "bb": 21}

{'aa': 12, 'bb': 21}

### Python offers a fundamental abstraction called the iterator. An iterator is an object that represents a stream of data. This is opposed to a container which holds all of its elements in memory at once. When you iterate over a container, the container returns an iterator, which produces the elements of the container one at a time.

An Ierable is an object that can be treated as a sequence. It can be passed to the iter() function to get an iterator. The iterator can then be passed to the next() function to get the next element in the sequence. The iterator keeps track of where it is in the sequence, so it knows what element to return when next() is called.

In [110]:
filled_dict = {"one": 1, "two": 2, "three": 3}
our_iterable = filled_dict.keys()
print(our_iterable)  # => dict_keys(['one', 'two', 'three']). This is an object
                     # that implements our Iterable interface.

dict_keys(['one', 'two', 'three'])

In [117]:
# We can loop over it.
for i in our_iterable:
    print(i)  # Prints one, two, three

one
two
three

In [112]:
# However we cannot address elements by index.
our_iterable[1]  # Raises a TypeError

TypeError: 'dict_keys' object is not subscriptable

In [124]:
# An iterable is an object that knows how to create an iterator.
our_iterator = iter(our_iterable)

In [125]:
# Our iterator is an object that can remember the state as we traverse through it. We get the next object with "next()".
next(our_iterator)  # => "one"

'one'

In [126]:
# It maintains state as we iterate.
next(our_iterator)  # => "two"

'two'

In [127]:
next(our_iterator)  # => "three"

'three'

In [128]:
# After the iterator has returned all of its data, it raises a StopIteration exception

next(our_iterator)  # Raises StopIteration

StopIteration:

In [130]:
# We can loop over this object too. Note that the "for" statement calls "iter()" on the object first.

our_iterator = iter(our_iterable)
for i in our_iterator:
    print(i)  # Prints one, two, three

one
two
three

In [131]:
# You can grab all the elements of an iterable or iterator by call of list().
list(our_iterable)  # => Returns ["one", "two", "three"]

['one', 'two', 'three']

In [132]:
list(our_iterator)  # => Returns [] because state is saved

[]

## 4. Functions

### We can define functions to add clarity to our code, and use def to create a function in Python

In [133]:
def add(x, y):
    print("x is {} and y is {}".format(x, y))
    return x + y  # Return values with a return statement

In [134]:
# Calling functions with parameters
add(5, 6)  # => prints out "x is 5 and y is 6" and returns 11

x is 5 and y is 6

11

In [135]:
# Another way to call functions is with keyword arguments
add(y=6, x=5)  # Keyword arguments can arrive in any order.

x is 5 and y is 6

11

In [136]:
# You can define functions that take a variable number of positional arguments
def varargs(*args):
    return args

In [137]:
varargs(1, 2, 3)  # => (1, 2, 3)

(1, 2, 3)

In [138]:
# You can define functions that take a variable number of
# keyword arguments, as well
def keyword_args(**kwargs):
    return kwargs

In [139]:
# Let's call it to see what happens
keyword_args(big="foot", loch="ness")  # => {"big": "foot", "loch": "ness"}

{'big': 'foot', 'loch': 'ness'}

In [2]:
# You can do both at once, if you like
def all_the_args(*args, **kwargs):
    print(args)
    print(kwargs)

all_the_args(1, 2, a=3, b=4)  # Prints "(1, 2)" and then "{a: 3, b: 4}"

(1, 2)
{'a': 3, 'b': 4}

#### When calling the functions above, you can do the opposite of *args/**kwargs!. This is called "unpacking". Use the * to unpack a list or tuple, or the ** to expand kwargs.

In [3]:
args = (1, 2, 3, 4)
kwargs = {"a": 3, "b": 4}
all_the_args(*args)            # equivalent: all_the_args(1, 2, 3, 4)
all_the_args(**kwargs)         # equivalent: all_the_args(a=3, b=4)
all_the_args(*args, **kwargs)  # equivalent: all_the_args(1, 2, 3, 4, a=3, b=4)

(1, 2, 3, 4)
{}
()
{'a': 3, 'b': 4}
(1, 2, 3, 4)
{'a': 3, 'b': 4}

In [4]:
# Returning multiple values (with tuple assignments)
def swap(x, y):
    return y, x  # Return multiple values as a tuple without the parenthesis.
                 # (Note: parenthesis have been excluded but can be included)

In [5]:
x = 1
y = 2
x, y = swap(x, y)     # => x = 2, y = 1

In [6]:
# global scope
x = 5

In [7]:
def set_x(num):
    # local scope begins here
    # local var x not the same as global var x
    x = num    # => 43
    print(x)   # => 43

In [8]:
def set_global_x(num):
    # global indicates that particular var lives in the global scope
    global x
    print(x)   # => 5
    x = num    # global var x is now set to 6
    print(x)   # => 6

In [10]:
set_x(43)
set_global_x(6)
# Prints 43, 5, 6

43
6
6

### Python has first class functions | It means that functions are treated like any other object and can be passed around and used as arguments, just like any other object (string, int, float, list, and dict).

In [11]:
def create_adder(x):
    def adder(y):
        return x + y
    return adder

In [12]:
add_10 = create_adder(10)
add_10(3)   # => 13

13

### There are also anonymous functions

In [14]:
(lambda x: x > 2)(3)   # => True

True

In [15]:
(lambda x, y: x ** 2 + y ** 2)(2, 1)  # => 5

5

### There are built-in higher order functions

In [16]:
list(map(add_10, [1, 2, 3]))          # => [11, 12, 13]

[11, 12, 13]

In [17]:
list(map(max, [1, 2, 3], [4, 2, 1]))  # => [4, 2, 3]

[4, 2, 3]

In [18]:
list(filter(lambda x: x > 5, [3, 4, 5, 6, 7]))  # => [6, 7]

[6, 7]

### We can use list comprehensions for nice and concise ways to create lists based on existing lists. List comprehensions can also contain conditions to filter out certain elements from the list.

In [19]:
[add_10(i) for i in [1, 2, 3]]         # => [11, 12, 13]

[11, 12, 13]

In [20]:
[x for x in [3, 4, 5, 6, 7] if x > 5]  # => [6, 7]

[6, 7]

### We can construct set and dict comprehensions as well.

In [21]:
{x for x in 'abcddeef' if x not in 'abc'}  # => {'d', 'e', 'f'}

{'d', 'e', 'f'}

In [22]:
{x: x**2 for x in range(5)}  # => {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## 5. Modules

### You can import modules

In [23]:
import math
print(math.sqrt(16))  # => 4.0

# You can get specific functions from a module

4.0

In [24]:
# You can get specific functions from a module

from math import ceil, floor
print(ceil(3.7))   # => 4.0
print(floor(3.7))  # => 3.0

4
3

In [25]:
# You can import all functions from a module using *. This is not recommended.

from math import *

In [26]:
# You can shorten module names

import math as m
math.sqrt(16) == m.sqrt(16)  # => True

True

#### Python modules are simply Python files with a .py extension. The name of the module will be the name of the file.

If you have a file named math.py in your working directory, that library would be loaded instead of the built-in math module.

In [28]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

## 6. Classes

### Classes are defined using the keyword class

In [32]:
class Human:

    # A class attribute. It is shared by all instances of this class
    species = "H. sapiens"

    # Basic initializer, this is called when this class is instantiated.
    # Note that the double leading and trailing underscores denote objects
    # or attributes that are used by Python but that live in user-controlled
    # namespaces. Methods(or objects or attributes) like: __init__, __str__,
    # __repr__ etc. are called special methods (or sometimes called dunder
    # methods). You should not invent such names on your own.
    def __init__(self, name):
        # Assign the argument to the instance's name attribute
        self.name = name

        # Initialize property
        self._age = 0

    # An instance method. All methods take "self" as the first argument
    def say(self, msg):
        print("{name}: {message}".format(name=self.name, message=msg))

    # Another instance method
    def sing(self):
        return 'yo... yo... microphone check... one two... one two...'

    # A class method is shared among all instances
    # They are called with the calling class as the first argument
    @classmethod
    def get_species(cls):
        return cls.species

    # A static method is called without a class or instance reference
    @staticmethod
    def grunt():
        return "*grunt*"

    # A property is just like a getter.
    # It turns the method age() into a read-only attribute of the same name.
    # There's no need to write trivial getters and setters in Python, though.
    @property
    def age(self):
        return self._age

    # This allows the property to be set
    @age.setter
    def age(self, age):
        self._age = age

    # This allows the property to be deleted
    @age.deleter
    def age(self):
        del self._age

#### When a python interpreter reads a source file, it executes all its code. The __name__ == '__main__' check is used to determine whether the file is being run as a script or being imported. If the file is being run as a script, the __name__ variable will be set to the string '__main__'. If this file is being imported from another module, __name__ will be set to the module's name.

In [33]:
if __name__ == '__main__':
    # Instantiate a class
    i = Human(name="Ian")
    i.say("hi")                     # "Ian: hi"
    j = Human("Joel")
    j.say("hello")                  # "Joel: hello"
    # i and j are instances of type Human; i.e., they are Human objects.

    # Call our class method
    i.say(i.get_species())          # "Ian: H. sapiens"
    # Change the shared attribute
    Human.species = "H. neanderthalensis"
    i.say(i.get_species())          # => "Ian: H. neanderthalensis"
    j.say(j.get_species())          # => "Joel: H. neanderthalensis"

    # Call the static method
    print(Human.grunt())            # => "*grunt*"

    # Static methods can be called by instances too
    print(i.grunt())                # => "*grunt*"

    # Update the property for this instance
    i.age = 42
    # Get the property
    i.say(i.age)                    # => "Ian: 42"
    j.say(j.age)                    # => "Joel: 0"
    # Delete the property
    del i.age
    # i.age                         # => this would raise an AttributeError

Ian: hi
Joel: hello
Ian: H. sapiens
Ian: H. neanderthalensis
Joel: H. neanderthalensis
*grunt*
*grunt*
Ian: 42
Joel: 0

## Inheritance

Inheritance allows new child classes to be defined that inherit methods and variables from their parent class. 

Using the Human class defined above, we can define a new class, Superhero, that inherits from Human. The new class can then be used to create objects just like the Human class.

In [35]:
# Specify the parent class(es) as parameters to the class definition
class Superhero(Human):

    # If the child class should inherit all of the parent's definitions without
    # any modifications, you can just use the "pass" keyword (and nothing else)
    # but in this case it is commented out to allow for a unique child class:
    # pass

    # Child classes can override their parents' attributes
    species = 'Superhuman'

    # Children automatically inherit their parent class's constructor including
    # its arguments, but can also define additional arguments or definitions
    # and override its methods such as the class constructor.
    # This constructor inherits the "name" argument from the "Human" class and
    # adds the "superpower" and "movie" arguments:
    def __init__(self, name, movie=False,
                 superpowers=["super strength", "bulletproofing"]):

        # add additional class attributes:
        self.fictional = True
        self.movie = movie
        # be aware of mutable default values, since defaults are shared
        self.superpowers = superpowers

        # The "super" function lets you access the parent class's methods
        # that are overridden by the child, in this case, the __init__ method.
        # This calls the parent class constructor:
        super().__init__(name)

    # override the sing method
    def sing(self):
        return 'Dun, dun, DUN!'

    # add an additional instance method
    def boast(self):
        for power in self.superpowers:
            print("I wield the power of {pow}!".format(pow=power))

In [36]:
if __name__ == '__main__':
    sup = Superhero(name="Tick")

    # Instance type checks
    if isinstance(sup, Human):
        print('I am human')
    if type(sup) is Superhero:
        print('I am a superhero')

    # Get the Method Resolution search Order used by both getattr() and super()
    # This attribute is dynamic and can be updated
    print(Superhero.__mro__)    # => (<class '__main__.Superhero'>,
                                # => <class 'human.Human'>, <class 'object'>)

    # Calls parent method but uses its own class attribute
    print(sup.get_species())    # => Superhuman

    # Calls overridden method
    print(sup.sing())           # => Dun, dun, DUN!

    # Calls method from Human
    sup.say('Spoon')            # => Tick: Spoon

    # Call method that exists only in Superhero
    sup.boast()                 # => I wield the power of super strength!
                                # => I wield the power of bulletproofing!

    # Inherited class attribute
    sup.age = 31
    print(sup.age)              # => 31

    # Attribute that only exists within Superhero
    print('Am I Oscar eligible? ' + str(sup.movie))

I am human
I am a superhero
(<class '__main__.Superhero'>, <class '__main__.Human'>, <class 'object'>)
Superhuman
Dun, dun, DUN!
Tick: Spoon
I wield the power of super strength!
I wield the power of bulletproofing!
31
Am I Oscar eligible? False

## Multiple Inheritance

Python supports a form of multiple inheritance as well. A class definition with multiple base classes looks like this:

In [37]:
class Bat:

    species = 'Baty'

    def __init__(self, can_fly=True):
        self.fly = can_fly

    # This class also has a say method
    def say(self, msg):
        msg = '... ... ...'
        return msg

    # And its own method as well
    def sonar(self):
        return '))) ... ((('

In [38]:
if __name__ == '__main__':
    b = Bat()
    print(b.say('hello'))
    print(b.fly)

... ... ...
True

### Another class that inherits from Superhero and Bat

In [40]:
# Define Batman as a child that inherits from both Superhero and Bat
class Batman(Superhero, Bat):

    def __init__(self, *args, **kwargs):
        # Typically to inherit attributes you have to call super:
        # super(Batman, self).__init__(*args, **kwargs)
        # However we are dealing with multiple inheritance here, and super()
        # only works with the next base class in the MRO list.
        # So instead we explicitly call __init__ for all ancestors.
        # The use of *args and **kwargs allows for a clean way to pass
        # arguments, with each parent "peeling a layer of the onion".
        Superhero.__init__(self, 'anonymous', movie=True,
                           superpowers=['Wealthy'], *args, **kwargs)
        Bat.__init__(self, *args, can_fly=False, **kwargs)
        # override the value for the name attribute
        self.name = 'Sad Affleck'

    def sing(self):
        return 'nan nan nan nan nan batman!'


if __name__ == '__main__':
    sup = Batman()

    # Get the Method Resolution search Order used by both getattr() and super().
    # This attribute is dynamic and can be updated
    print(Batman.__mro__)       # => (<class '__main__.Batman'>,
                                # => <class 'superhero.Superhero'>,
                                # => <class 'human.Human'>,
                                # => <class 'bat.Bat'>, <class 'object'>)

    # Calls parent method but uses its own class attribute
    print(sup.get_species())    # => Superhuman

    # Calls overridden method
    print(sup.sing())           # => nan nan nan nan nan batman!

    # Calls method from Human, because inheritance order matters
    sup.say('I agree')          # => Sad Affleck: I agree

    # Call method that exists only in 2nd ancestor
    print(sup.sonar())          # => ))) ... (((

    # Inherited class attribute
    sup.age = 100
    print(sup.age)              # => 100

    # Inherited attribute from 2nd ancestor whose default value was overridden.
    print('Can I fly? ' + str(sup.fly)) # => Can I fly? False

(<class '__main__.Batman'>, <class '__main__.Superhero'>, <class '__main__.Human'>, <class '__main__.Bat'>, <class 'object'>)
Superhuman
nan nan nan nan nan batman!
Sad Affleck: I agree
))) ... (((
100
Can I fly? False

## Advanced

### Generators are a simple and powerful tool for creating iterators. They are written like regular functions but use the yield statement whenever they want to return data. Each time next() is called on it, the generator resumes where it left off (it remembers all the data values and which statement was last executed).

In [43]:
# Generators help you make lazy code.
def double_numbers(iterable):
    for i in iterable:
        yield i + i

In [44]:
for i in double_numbers(range(1, 900000000)):  # `range` is a generator.
    print(i)
    if i >= 30:
        break

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

#### Just like a list comprehension, we can create generator comprehensions as well.

In [45]:
values = (-x for x in [1,2,3,4,5])
for x in values:
    print(x)  # prints -1 -2 -3 -4 -5 to console/terminal

-1
-2
-3
-4
-5

In [46]:
# You can also cast a generator comprehension directly to a list.
values = (-x for x in [1,2,3,4,5])
gen_to_list = list(values)
print(gen_to_list)  # => [-1, -2, -3, -4, -5]

[-1, -2, -3, -4, -5]

## Decorators

#### In the following example, beg wraps say in such a way that it alters the behavior of say without permanently modifying it.

In [47]:
from functools import wraps


def beg(target_function):
    @wraps(target_function)
    def wrapper(*args, **kwargs):
        msg, say_please = target_function(*args, **kwargs)
        if say_please:
            return "{} {}".format(msg, "Please! I am poor :(")
        return msg

    return wrapper


@beg
def say(say_please=False):
    msg = "Can you buy me a beer?"
    return msg, say_please

In [48]:
print(say())                 # Can you buy me a beer?
print(say(say_please=True))  # Can you buy me a beer? Please! I am poor :(

Can you buy me a beer?
Can you buy me a beer? Please! I am poor :(